{% extends 'base.html' %}

{% block content %}
  <h2>Dear, {{ user.get_full_name }}{{ user.username }}!</h2>
  <h3>Add a new wine!</h4><br>

    <form method="post">
      {% csrf_token %}
      {% for field in form %}
        <p>
          {{ field.label_tag }}<br>
          {{ field }}
          {% for error in field.errors %}
            <p style="color: red">{{ error }}</p>
          {% endfor %}
        </p>
      {% endfor %}
      <button type="submit" onclick=window.location='/thanks.html' class="button" name="Add">Add wine</button>
    </form>

{% endblock %}
