{% extends 'base.html' %}

{% block content %}
<h3>Vote your favorite wine</h3>

<b><p> Select your wine</p></b>

  {% if object_list %}
    <form method="post" action="{% url 'vote' %}">{% csrf_token %}

      <select name="name_wine">
      {% for obj in object_list %}

        <table>
          <option value="{{obj.name_wine}}">{{obj.name_wine}}-{{obj.harvest}}-{{obj.varietal}}</option>
        </table>

      {% endfor %}
    </select><br><br>
  <b><p> Rate your wine </p></b><br>
        <input type="radio" name="rate" value="1" checked> 1
        <input type="radio" name="rate" value="2"> 2
        <input type="radio" name="rate" value="3"> 3
        <input type="radio" name="rate" value="4"> 4
        <input type="radio" name="rate" value="5"> 5<br><br>

      <button type="submit" class="button" >Vote</button>

  {% else %}
    <p>No wines available.</p>
  {% endif %}

    </form>


{% endblock %}
